//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

// Site Title
.site-title {
	font-size: rem(48);
} // .site-title

// Site Description
.site-description {
	font-size: rem(24);
	margin: 0 0 rem(24) 0;
} // .site-description

// Site Logo
.site-logo {
	align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
	margin-bottom: rem(200);
	padding-top: rem(40);

	img {
		max-width: rem(220);

	}
} // .site-logo

.site-header {
	.wrap {
		max-width: $desktop;
		width: 100%;
	}

}

.header-content {
    box-shadow: 0 0 rem(60) 0 rgba($color-asparagus-gray, 0.5);
	float: left;
	max-width: $desktop / 12 * 2;
	padding: rem(20);
}

.header-image {
	padding-left: $desktop / 12 * 2;
    width: 100%;

	img {
		height: auto;
    	width: 100%;
	}
}

.header-socials {
	align-items: center;
	clear: both;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	margin: rem(120) auto rem(40);
}
