//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	@include clearfix;
	@include list-reset;

	// Each icon <li>
	.social-icon {
		display: inline-block;

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(rem(16) rem(16));

				&:hover i {
					color: $color;
				} // &:hover
			} // .icon-#{$social-color}

		} // end each loop

		// Add more space to anchors
		a {
			color: $color-asparagus-gray;
			cursor: pointer;
			padding: rem(15);
			text-align: center;

			i {
				@include size(1rem);
			}
		}

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		} // &:last-child
	} // .social-icon
} // .social-icons
