//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	} // &:hover, &:focus, &:active
} // a

// Default menu (active after a fresh WordPress install)
.menu {
	@include list-reset;
	margin: 0 auto;

	li {
		margin: 0;
	} // li

	ul {
		@include list-reset;
	} // ul

	a {
		color: $menu-link-color;
		font-size: $menu-font-size;
		font-weight: 500;
		letter-spacing: rem(4);
		padding: rem(10) rem(29);
	} // a

	& > li {
		margin: 0 rem(5);
	}

	& > li:before {
		@include size(0 rem(1));
		background: $menu-link-color;
		content: "";
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 50%;
		transition: width 0.3s ease;
	}

	& > .menu-item:hover:before,
	& > .current-menu-item:before,
	& > .menu-item:hover:before {
	    width: 100%;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		} // li

	} // &.menu-horizontal

	&.menu-vertical {

		li {
			margin: 0;
		} // li

		a {
			border-bottom: 1px solid $color-background-hr;
			padding: rem(10);
		} // a
	} // &.menu-vertical

	&.dropdown {

		// Sub-menu
		ul {
			@include position(absolute, 2.5 null null -999em);

			background: $color-white;
			box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
			float: left;
			z-index: 99999;

			// Sub-sub menu
			ul {
				background: $color-white;
				left: -999em;
				top: 0;
			} // ul

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 95%;
				} // &:hover > ul, &.focus > ul
			} // li

			// Sub-menu links
			a {
				@include size(rem(200) auto);
			} // a

			&:hover > a,
			.focus > a {
			} // &:hover > a, .focus > a

			a:hover,
			a.focus {
				background: $menu-hover-bg-color;
			} // a:hover, a.focus
		} // ul

		// Display sub-menu on hover
		li:hover > ul,
		li.focus > ul {
			left: auto;
		} // li:hover > ul, li.focus > ul

		// Menu items
		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {
			} // &:hover > a, &.focus > a

			& li:hover > a,
			& li.focus > a {
				background: $menu-hover-bg-color;
			} // & li:hover > a, & li.focus > a
		} // li

	} // &.dropdown

	// Menu hyperlinks
	a {
		cursor: pointer;
		display: block;
		text-decoration: none;
	} // a

	// Current items
	.current_page_item a,
	.current-menu-item a {
	} // .current_page_item a, .current-menu-item a
} // .menu

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	@include size(100% auto);
	align-items: center;
	clear: both;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	justify-content: center;

	// Menu area
	ul {
		display: none;

		@include media($phone-landscape) {
			display: block;
		}
	} // ul

	&.toggled ul {
		display: block;
	} // &.toggled ul

	@include media($tablet-landscape) {
		display: flex;
	}
} // .main-navigation

// Small menu
.menu-toggle {
	display: block;

	@include media($phone-landscape) {
		display: none;
	}
} // .menu-toggle

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	} // .site-main &

	&.nav-previous {
		@include size(50% auto);

		float: left;
	} // &.nav-previous

	&.nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation
