//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	} // &:hover, &:focus, &:active
} // a

// Default menu (active after a fresh WordPress install)
.menu {
	@include list-reset;
	
	// Don't show this puppy above tablet-landscape
	@include media($phone-landscape) {
		
	}

	li {
		margin: 0;
	} // li

	ul {
		@include list-reset;
	} // ul

	a {
		color: $menu-link-color;
		font-size: $menu-font-size;
		font-weight: 600;
		letter-spacing: rem(4);
		padding: rem(10) rem(29);
	} // a

	& > li {
		margin: 0 rem(5);
		opacity: 0;
		transform: scale(0, 0);
		transition-duration: .6s;
		transition-timing-function: ease-in-out;
		transition-delay: 0s;
		transition: 0s;

		.menu-more & {
			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					transition-delay:(#{$i*0.05s});
				}
			}

			opacity: 1;
			transform: scale(1, 1);
		}
	}

	& > li::before {
		@include size(0 rem(1));
		background: $menu-link-color;
		content: "";
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 50%;
		transition: width 0.3s ease;
	}

	& > .menu-item:hover::before,
	& > .current-menu-item::before,
	& > .menu-item:hover::before {
		width: 100%;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		} // li

	} // &.menu-horizontal

	&.menu-vertical {

		li {
			margin: 0;
		} // li

		a {
			border-bottom: 1px solid $color-background-hr;
			padding: rem(10);
		} // a
	} // &.menu-vertical

	&.dropdown {

		// Sub-menu
		ul {
			@include position(absolute, 2.5 null null -999em);

			background: $color-white;
			box-shadow: 0 10px 30px rgba($color-black, 0.2);
			float: left;
			z-index: 99999;

			// Sub-sub menu
			ul {
				background: $color-white;
				left: -999em;
				top: 0;
			} // ul

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 95%;
				} // &:hover > ul, &.focus > ul
			} // li

			// Sub-menu links
			a {
				@include size(rem(200) auto);
			} // a

			&:hover > a,
			.focus > a {
				position: relative;
			} // &:hover > a, .focus > a

			a:hover,
			a.focus {
				background: $menu-hover-bg-color;
			} // a:hover, a.focus
		} // ul

		// Display sub-menu on hover
		li:hover > ul,
		li.focus > ul {
			left: auto;
		} // li:hover > ul, li.focus > ul

		// Menu items
		li {
			display: inline-block;
			position: relative;

			&:hover > a,
			&.focus > a {
			} // &:hover > a, &.focus > a

			& li:hover > a,
			& li.focus > a {
				background: $menu-hover-bg-color;
			} // & li:hover > a, & li.focus > a
		} // li

	} // &.dropdown

	// Menu hyperlinks
	a {
		cursor: pointer;
		display: block;
		text-decoration: none;
	} // a

	// Current items
	.current_page_item a,
	.current-menu-item a {
	} // .current_page_item a, .current-menu-item a
} // .menu

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	position: relative;
	@include size(100% auto);
	height: 0;
	align-items: center;
	clear: both;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	margin-top: rem(150);
	z-index: 9;
	white-space: nowrap;

	.menu-more & {
		white-space: initial;
		height: auto;
	}

	// Menu area
	ul.menu {
		@include media($phone-landscape) {
			// display: block;
		}
	} // ul

	&.toggled ul {
		display: block;
	} // &.toggled ul

	@include media($tablet-landscape) {
		display: flex;
	}
} // .main-navigation

// Small menu
.menu-toggle {
	display: block;

	@include media($phone-landscape) {
		display: none;
	}
} // .menu-toggle

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	} // .site-main &

	&.nav-previous {
		@include size(50% auto);

		float: left;
	} // &.nav-previous

	&.nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation

.menu-btn-cont {
	text-align: center;
	width: 100%;
}
.menu-btn {
	position: relative;
	background-color: transparent;
	overflow: hidden;
	transition: .2s ease-in-out;
	width: rem(40);
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	.menu-title {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		color: $menu-button-color;
		font-size: rem(14);
		opacity: 0;
		margin-left: -230%; // TODO: Make flexible for any words
		text-transform: uppercase;
		letter-spacing: rem(4);
		padding-right: rem(8);
		transition: .2s ease-in-out;
	}

	.menu-icon {
		position: relative;
		width: rem(30);
		height: rem(18);
		display: inline-block;
		vertical-align: middle;

		span {
			position: absolute;
			top: 0;
			left: 0;
			background: $menu-button-color;
			border-radius: rem(2);
			display: block;
			width: 100%;
			height: rem(2);
			transition: .2s ease-in-out;

			&:nth-child(1) {
				width: 80%;
			}
			&:nth-child(2) {
				top: 50%;
				transform: translate(0, -50%);
			}
			&:nth-child(3) {
				width: 65%;
				top: 100%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&:hover {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: stretch;
		background-color: transparent;
		width: 100%;
		
		.menu-title {
			opacity: 1;
			margin-left: 0;
		}

		.menu-icon {
			width: 100%;
			margin-left: 0;

			span {

				&:nth-child(1) {
					opacity: 0;
					left: 100%;
				}

				&:nth-child(2) {
					width: 100%;
				}

				&:nth-child(3) {
					opacity: 0;
					left: 100%;
				}

			}
		}
		
	}

	.menu-more & {
		display: none;
	}
} // .menu-btn

.close-menu {
	position: absolute;
	background-color: transparent;
	overflow: hidden;
	transition: .2s ease-in-out;
	cursor: pointer;
	width: rem(25);
	height: rem(25);
	z-index: 30;

	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: rem(2);
			background-color: $color-asparagus-gray;
			border-radius: rem(1);
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%) rotate(45deg);
		}
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: rem(2);
			background-color: $color-asparagus-gray;
			border-radius: rem(1);
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%) rotate(-45deg);
		}
	}

	&:hover {
		background-color: transparent;
	}

	&:focus {
		background-color: transparent;
		outline: none;
		box-shadow: none;
	}

	.header-top-controls & {
		top: 0;
		left: 50%;
		transition: transform .4s .3s;
		transform: translate(-50%, 10%) scale(0, 0);

		.menu-more & {
			transform: translate(-50%, 10%) scale(1, 1);
		}
	}

	

} // .close-menu
