//--------------------------------------------------------------
//   COLORS
//    - Primary palette
//    - Grayscale
//    - Social Media Colors
//       - $social-colors() map
//
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//-------------------------------------------------------------

// COLORS

// Primary palette
$color-blue: #21759b;
$color-green: #a0be88;
$color-light-yellow: #fff9c0;
$color-black: #000;
$color-white: #fff;

// Grayscale
$color-gray: #808580;
$color-asparagus-gray: #4b534b;
$color-cod-gray: #111;
$color-mineshaft: #333;
$color-dove-gray: #666;
$color-gray-alt: #929292;
$color-silver-chalice: #aaa;
$color-silver: #ccc;
$color-alto: #ddd;
$color-gallery: #eee;
$color-whitesmoke: #f1f1f1;

// Social Media Colors
$color-facebook: #3b5998;
$color-google-plus: #dd4b39;
$color-instagram: #517fa4;
$color-linkedin: #007bb6;
$color-pinterest: #cb2027;
$color-rss: #f90;
$color-twitter: #00aced;
$color-youtube: #b00;

// $social-colors() map
$social-colors: (
	facebook: $color-facebook,
	facebook-square: $color-facebook,
	google-plus: $color-google-plus,
	google-plus-square: $color-google-plus,
	instagram: $color-instagram,
	instagram-square: $color-instagram,
	linkedin: $color-linkedin,
	linkedin-square: $color-linkedin,
	pinterest: $color-pinterest,
	pinterest-square: $color-pinterest,
	rss: $color-rss,
	rss-square: $color-rss,
	twitter: $color-twitter,
	twitter-square: $color-twitter,
	youtube: $color-youtube,
	youtube-square: $color-youtube,
);

// ELEMENTS & SKINNING

// General
$color-background-body: $color-white;
$color-text-main: $color-asparagus-gray;
$color-background-hr: $color-silver;
$color-border-abbr: $color-dove-gray;

// Accessibility
$color-background-screen-reader: $color-whitesmoke;
$color-text-screen-reader: $color-gray;

// Links
$color-link: $color-gray;
$color-link-visited: $color-gray;
$color-link-hover: $color-gray;


// Menu
$menu-link-color: $color-asparagus-gray;
$menu-button-color: $color-asparagus-gray;
$menu-hover-bg-color: $color-whitesmoke;
